mnist_data/*
summary/*
.ipynb_checkpoints/*
ch3/.ipynb_checkpoints/*
ch3/summary/*
ch4/summary/*
ch4/.ipynb_checkpoints/*
ch5/mnist/*
ch5/.ipynb_checkpoints/*
ch5/my-train-data/*
ch6/flask-test/*
ch6/history/*
ch6/model/*
ch6/my-test-data/*
ch6/my-train-data/*
